/* Global CSS Reset */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #010214;
    position: relative;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}



.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.container svg {
    display: block;  
    width: auto;     
    height: 100%;   
    max-height: 99vh;


@keyframes shakeEven {
    0%, 100% { transform: translate(0, 0); }
    25% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    75% { transform: translate(2px, 2px); }
}


@keyframes shakeOdd {
    0%, 100% { transform: translate(0, 0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
}


.container svg path:nth-child(2n) {
    animation: shakeEven 6.5s infinite;
}


.container svg path:nth-child(2n + 1) {
    animation: shakeOdd 8.5s infinite;
} */


:root {
    --foreground-rgb: 255, 255, 255;
  
    --background-start-rgb: 21, 21, 32;
    --background-end-rgb: 42, 42, 64;
  
    --card-bg-start-rgb: 29, 25, 61;
    --card-bg-end-rgb: 45, 29, 109;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      
      --background-start-rgb: 21, 21, 32;
      --background-end-rgb: 19, 19, 44;
  
      --card-bg-start-rgb: 29, 25, 61;
      --card-bg-end-rgb: 45, 29, 109;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));

    min-height: 100vh;
  }

.card {
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--card-bg-end-rgb))
    )
    rgb(var(--card-bg-start-rgb));
}
